<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>질환정보검색</h1>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>질환명</th>
            <th>질환정보</th>
        </tr>

        <%for(let i = 0; i < in_row.length; i++){%>
            <tr>
                <td><%=in_row[i].dise_no%></td>
                <td><%=in_row[i].dise_name%></td>
                <td><%=in_row[i].dise_notice%></td>
            </tr>
        <%}%>
    </table>
    <a href="http://127.0.0.1:5501/public/Main.html">메인페이지로</a>
</body>
</html>