<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>질환정보검색</h1>
    <table border="1">
        <tr>
            <th>성분명</th>
            <th>성분함량</th>
            <th>하루권장섭취량</th>
        </tr>

        <%for(let i = 0; i < in_row.length; i++){%>
            <tr>
                <td><%=in_row[i].ingre_name%></td>
                <td><%=in_row[i].ingre_in%></td>
                <td><%=in_row[i].ingre_day%></td>
            </tr>
        <%}%>
    </table>
    <a href="http://222.102.104.135:3000/main">메인페이지로</a>
</body>
</html>