<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=in_id%>님 이건어때? 도시락 추천 서비스에 로그인하셨습니다.</h1>
    <button>선택 도시락</button><br>
    <button>기성 도시락</button><br>
    <a href="http://127.0.0.1:5501/public/Note.html"><button>운동일지</button></a><br>
    <a href="http://127.0.0.1:5501/public/Main.html">메인페이지로</a>
</body>
</html>