<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원관리페이지</h1>
    <a href="http://127.0.0.1:5501/public/Login.html"><button>로그인</button></a>
    <a href="http://127.0.0.1:5501/public/Join.html"><button>회원가입</button></a>
    <a href="http://222.102.104.135:3000/dise"><button>질환정보검색</button></a>
    <a href="http://222.102.104.135:3000/ingre"><button>성분정보검색</button></a>
    <a href="http://222.102.104.135:3000/select"><button>전체회원검색</button></a>
    
    <%if(user == undefined){%>
        <%}else{%>
    <%}%>
</body>
</html>